$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$font-default: 'Roboto', sans-serif;

// Colors
// ==========================

$color-headline-default: #9fa1a8;
$brand-color-blue: #3c7fbe;
$brand-color-orange: #f9a216; 